/* Generics */

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

/* Utilities */

a {
    color: white;
    text-decoration: none;
}

i {
    color: white;
}

/* Header */

#speacker-view {
    height: 100px;
    background-color: black;
    position: relative;
    padding: 20px;
}

#speacker-view a {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(74,74,74);
    padding: 4px 4px;
    border-radius: 5px;
}

.speacker {
    margin-right: 30px;
}  

/* Main */

#conteiner {
    height: calc(100vh - 170px);
    background-color: black;
    overflow-y: scroll;
}

#flex-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-user {
    justify-content: center;
    flex-basis: 200px;
    height: 135px;
    margin: 5px 2px;
    position: relative;
    transition: transform 1s;
}

.img-user:hover {
    transform: scale(1.1);
    z-index: 1;
    border: 1px solid lightgrey;
}

.img-user img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.img-user .name-user {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px 3px;
    background-color: rgba(92,106,118,0.5);
    font-size: 0.8em;
}


/* Footer */

footer {
    height: 70px;
    background-color: rgb(34,34,34);
    display: flex;
}

footer i, footer a {
    cursor: pointer;
    transition: color 1s ease;
}

footer a:hover, footer i:hover {
    color: green;
}

.icon i {
    font-size: 1.4em;
    margin-bottom: 5px;
    text-align: center;
}

footer a {
    font-size: 0.8em;
}

.w-25 {
    flex-basis: 25%;
    display: flex;
    align-items: center;
}

.w-50 {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-25 div {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.w-50 div {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

#end-meet {
    display: flex;
    height: 100%;
    flex-basis: 100%;
    justify-content: center;
    align-items: flex-end;
}

#end-meet span{
    color: red;
    padding: 35px 20px;
    background-color: rgb(74,74,74);
    font-size: 0.8em;
}