/* Generics */

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

/* Utilities */

a {
    color: white;
    text-decoration: none;
}

/* Header */

#speacker-view {
    height: 100px;
    background-color: black;
    position: relative;
    padding: 20px;
}

#speacker-view a {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(74,74,74);
    padding: 4px 4px;
    border-radius: 5px;
}

.speacker {
    margin-right: 30px;
}  

/* Main */

#conteiner {
    height: calc(100vh - 200px);
    width: 100vw;
    background-color: black;
}

.row {
    display: flex;
    height: calc(100% / 5);
}

.img-user {
    display: flex;
    position: relative;
    flex-basis: calc(100vw / 7);
    justify-content: center;
}

.img-user a {
    position: absolute;
}

/* Footer */

footer {
    height: 100px;
    background-color: rgb(34,34,34);
}